[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.9"
flake8 = "*"
django-extensions = "*"
django-debug-toolbar = "*"
pillow = "*"
django-crispy-forms = "*"
django-filter = "*"
django-bootstrap-pagination = "*"

[dev-packages]

[requires]
python_version = "3.10"
